
@{
    ViewBag.Title = "AboutMe";
}
@section metadata
{
    <meta name="description" content="David Kováč o sobě ">
    <meta name="keywords" content="david, kováč osobní stránky">
    <meta name="author" content="David Kováč, email = david.kovac@uhk.cz">

    <title>David Kováč - O mě</title>
}

<div class="row_5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 reserve_table">
                <h2>@Resource.ShortBio</h2>
                <figure><img src="@Url.Content("~/image/DK_min.png")" alt="@Resource.MyName @Resource.MySurname"></figure>
                <h3>omnis iste natus error sit voluptatem accusantium doloremquel</h3>
                <p class="m_bot2">Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. </p>
                <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>


                <h2 class="pad_top1">@Resource.Education</h2>
                <h3>iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</h3>
                <p>
                    Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, con
                    sectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dol.
                </p>

                <h2 class="pad_top1">@Resource.Experience</h2>
                <h3>iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</h3>
                <p>
                    Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, con
                    sectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dol.
                </p>

                <h2 class="pad_top1">@Resource.Knowledge</h2>
                <h3>iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</h3>
                <p>
                    Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, con
                    sectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dol.
                </p>

                <h2 class="pad_top1">@Resource.Language</h2>
                <h3>iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</h3>
                <p>
                    Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, con
                    sectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dol.
                </p>

                <h2 class="pad_top1">@Resource.Intersets</h2>
                <h3>iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</h3>
                <p>
                    Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, con
                    sectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dol.
                </p>

            </div>

            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-4 col-md-4 col-sm-4">
                <h2>@Resource.CV</h2>
                <hr class="line2">
                <p class="title5">@Resource.CVText</p>
                <h2 class="pad_bot1">Hire Me Now</h2>
              
            </div>
        </div>
    </div>
</div>

